@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-0: #FFFFFF;
  --gray-1: #F8F9FA;
  --gray-2: #E9ECEF;
  --gray-3: #DEE2E6;
  --gray-4: #CED4DA;
  --gray-5: #ADB5BD;
  --gray-6: #6C757D;
  --gray-7: #495057;
  --gray-8: #343A40;
  --gray-9: #212529;
  --gray-10: #000000;

  --background: var(--gray-0);
  --foreground: var(--gray-9);
  --border: var(--gray-3);
  --accent: var(--gray-6);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--gray-10);
    --foreground: var(--gray-1);
    --border: var(--gray-7);
    --accent: var(--gray-5);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a {
  color: var(--foreground);
  text-decoration: underline dotted var(--accent);
  text-underline-offset: 2px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Custom Cursor */
* {
  cursor: none !important;
}

/* Hide cursor on interactive elements */
button, a, input, textarea, select {
  cursor: none !important;
}
